<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Controllo della connessione di rete (opzionale): Può essere utile avere questo permesso per verificare lo stato della rete prima di tentare di accedere ai dati online
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
    Permesso di scrittura e lettura nello storage: Se si intende salvare file o dati su disco (come file JSON, database SQLite, o qualsiasi altra forma di dati)
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.profilo.dettagli.DettagliMisurazioneActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.dettagli.DettagliPatologiaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.aggiunta.AggiungiSpesaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.dettagli.DettagliSpesaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.liste.ListaSpeseActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.liste.ListaMisurazioniActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.liste.ListaPatologieActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".controller.medbox.MedboxActivity"
            android:exported="false" />
        <activity
            android:name=".controller.informazioni.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".controller.informazioni.CenterActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.informazioni.PlaceActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.informazioni.OtherActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.informazioni.UserActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.informazioni.altriDocumentiEValutazione.OtherDocumentsActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.informazioni.altriDocumentiEValutazione.EvaluationsActivity"
            android:exported="false"/>
        <activity
            android:name=".controller.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".controller.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".controller.profilo.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>